/deep/.z-index-9 {
  z-index: 8 !important;
}

.operation {
  display: flex;
  justify-content: space-around;
}

/deep/.el-table th.gutter {
  display: table-cell !important;
}

.el-tag+.el-tag {
  margin-left: 10px;
}

.text-center {
  text-align: center;
}
